.cards{
    width: 80%;
    margin: auto;
}


.card{
    display: inline-block;
    width: 30%;
    background: rgb(174, 221, 180);
    color:black;
    margin: 20px;
    padding: 10px;

    border-radius: 2px;
    box-shadow: 2px 0px 5px 1px rgb(187, 187, 187,0.8);
}

.card h2 {
    font-size: 15px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.card p{
    font-size: 16px;
    color:  #505050 ;
    text-align: justify;
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.flexes{
    width: 80%;
    margin: auto;
}

.flex{
    display: inline-block;
    background: rgb(218, 209, 209);
    color:rgb(27, 26, 26);
    width: 60%;

    border: 1px ;
    color: red;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 0px 5px 1px rgba(22, 22, 22, 0.8);
}